.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 36px;
  text-align: center;
  padding: 10vh 5vw 5vh;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.search-input {
  width: 33vw;
}

.GifsList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.GifsList-item {
  width: 33vw;
  margin: 0 1vh 1vh 0;
}

.btn-animate {
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  border: none;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 90vw;
  height: 10vh;
  z-index: 1;
  overflow: hidden;
  background-color: white;
}

.logo {
  min-width: 20vw;
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word;
}